*, .primary-actions .wrap p {font-size: 16px; margin-bottom: 10px;}
ol li {list-style-type: decimal; margin-bottom: 10px; font-size: 16px; margin-left: 30px;}
.primary-actions .wrap p.note {font-size: 12px; text-align: center; margin-top: 20px; margin-bottom: 20px;}
.talking {margin-left: 30px; margin-right: 30px; background: #eee; border: 1px solid #ccc; padding: 10px;}