@font-face {font-family: 'Museo-700';src: url('fonts/197E39_0_0.eot');src: url('/fonts/197E39_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/197E39_0_0.woff') format('woff'),url('/fonts/197E39_0_0.ttf') format('truetype');}
@font-face {
    font-family: 'BebasNeueRegular';
    src: url('/fonts/BebasNeue-webfont.eot');
    src: url('/fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/BebasNeue-webfont.woff') format('woff'),
         url('/fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('/fontsBebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html, body {
   margin: 0;
   padding: 0;
   background: #000 url(/images/ac2-background.png);
   font-family: "Helvetica", "Arial", sans-serif;
}
#wrapper {
   color: #ed2024;
   height: 100%;
   width: 100%;
}
.wrap {width: 1120px; margin: 0 auto;}
#container {
   margin-top: 0;
   margin-bottom: 0;
   margin-left: auto;
   margin-right: auto;
}
#checklist {
   background-color: #777;
}
#checklist .byline {
   color: #fff;
}
.checklist-item {
   margin-left: 100px;
   margin-right: 100px;
   padding: 20px;
  background-color:#ffffff;
  border-width:2px;
  border-color:#999999;
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  border-radius:30px;
  /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
  -moz-box-shadow:inset 0px 0px 7px #000000;
  -webkit-box-shadow:inset 0px 0px 7px #000000;
  box-shadow:inset 0px 0px 7px #000000;
  /*Inner elements should not cover inner shadows*/
  /*Chrome renders inset shadows incorrectly with border-radius*/
  /*IE 7 AND 8 DO NOT SUPPORT INSET SHADOWS*/
  opacity:0.1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  /*-ms-filter must come before filter*/
  filter: alpha(opacity=90);
  /*INNER ELEMENTS MUST NOT BREAK THIS ELEMENTS BOUNDARIES*/
  /*All filters must be placed together*/
}
#header {
   text-align: center;
   padding-top: 10px;
   padding-bottom: 10px;
}
#header h1 {
   margin: 0;
   padding: 0;
   font-family: "Museo-700", "Helvetica", "Arial", sans-serif;
   font-size: 73px;
   color: #ed2024;
   text-shadow: 2px 2px 0px #000000;
   filter: dropshadow(color=#000000, offx=2, offy=2);
}
#header p {
   color: #fff;
   font-size: 25px;
   line-height: 1.5;
   font-weight: 300;
   margin-left: 100px;
   margin-right: 100px;
   padding-bottom: 3px;
}
#header-more {
   font-family: "BebasNeueRegular", "Helvetica", "Arial", sans-serif;
   background-color: #666666;
   padding-top: 10px;
   padding-bottom: 10px;
   text-align: center;
   border-top: 2px solid #878787;
   /* Bottom shadowed border */
   -moz-box-shadow:0 2px 5px #000;
   -webkit-box-shadow: 0 2px 5px #000;
   box-shadow: 0 2px 5px #000;
   margin-top: 10px;
}
#header-more h2 {
   color: #fff;
   font-weight: 200;
   letter-spacing: 1.25px;
   text-shadow: 1px 2px 0px #000000;
   margin: 10px;
   padding: 0;
}
#header-more ul {
   list-style-type: none;
   margin: 10px;
   padding: 10px;
   width: auto;
   display: inline;
}
#header-more ul li {
   text-align: center;
   display: inline;
   width: 250px;
   float: left;
   margin-left: 20px;
}
#header-more ul li p {
   margin: 0;
   padding: 5px;
   font-size: 16px;
   font-weight: 200;
   letter-spacing: 0.1em;
   text-shadow: 1px 2px 0px #000000;
}
#header-more ul li img {
   -moz-box-shadow: 0px 0px 9px #000000;
   -webkit-box-shadow: 0px 0px 9px #000000;
   box-shadow: 0px 0px 9px #000000;
}

.primary-actions {
   text-align: center;
   background: url(/images/checked-background.png);
   border-top: 5px solid #ed2024;
/*   border-bottom: 5px solid #ed2024;*/
   margin-top: 10px;
   overflow: auto;
}
.primary-actions h2 {
   font-family: "BebasNeueRegular", "Helvetica", "Arial", sans-serif;
   text-shadow: 1px 1px 0px #222;
   font-size: 60px;
   padding: 0;
   margin: 10px;
}
.primary-actions p {
   color: #333;
   font-size: 26px;
}

.primary-actions p {
	font-size: 16px; margin-left: 100px; margin-right: 100px; width: 800px; margin: 0 auto;
}

.primary-actions form {
   /* margin-left: 300px; */
   text-align: center;
   display: inline;
}
.primary-actions input, .primary-actions textarea, .step .middle textarea, .step .middle input {
   width: 300px;
   display: block;
   margin: 10px auto;
   font-family: Arial, Helvetica, sans-serif;
   color: #bebebe;
   font-size: 18px;
   background: 0;
   background: #fff;
   border: 1px solid #afafaf;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   padding: 10px;
}
.default-text {
   color: #333;
}
.default-text-active {
   color: #bebebe;
}
.step .middle .small, .primary-actions .small {
   font-size: 13px;
   color: #333333;
   line-height: 1.5;
}
#top-priority a.btn, .step a.btn,  button {
   font-family: "BebasNeueRegular", "Helvetica", "Arial", sans-serif;
	width:349px;
	height:53px;
	border:none;
	padding:0;
	color: #fff;
	font-size: 30px;
	text-shadow: 2px 2px 2px rgba(0,0,0,.5);
	text-align: center;
	letter-spacing: 1.5px;
	cursor:pointer;
	background: url(/images/ac2-button.png) no-repeat;
	margin-left: -3px;
}
.primary-actions button:hover {
	background: url(/images/ac2-button-hover.png) no-repeat;
}
.primary-actions button span {vertical-align:top; margin-top: 9px; display: inline-block;}
.maincontentarea {
	border-top: 10px solid #787878;
	padding-bottom: 0;
	width: 940px;
	margin: 0 auto;
	padding: 0;
}

#top-priority {
	margin-bottom: 10px;
	z-index: 1000;
}

.primary-actions p {margin-top: 10px; margin-bottom: 30px; display: block;}

#censor textarea {height: 100px;}

.footerarea {background: red url(/images/ac2-checked-background-alternate.png);}
.footerarea .footer p {font-size: 24px; color: #555555; margin-bottom: 10px; padding-bottom: 0;}
body a, body a:visited {color: #2587d9;}
.contact {font-family: 'BebasNeueRegular';}
.footer p.sponsored {margin-top: 40px; font-size: 29px;}

#generic_content {margin-bottom: 30px; padding-top: 20px; padding-bottom: 20px; color: #666;}

#general {margin-bottom: 20px; padding-bottom: 30px;}

textarea#share_box {
	width: 800px;
	height: 200px;
	margin: 0 auto;
}

h2.redheader {
	font-size: 32px; 
	color: red; 
	padding: 0; 
	width: 940px; 
	float: right;
	position: relative;

}

#nextsteps {
	width: 100%;
	float: left;
}

.testimonialwrap {width: 940px;}

p.point {font-size: 27px; margin-top: 30px; margin-bottom: 10px; display: block; clear: both;}

.each_section {margin-left: 40px; margin-right: 40px;}

.each_section ul {margin-top: 10px; margin-bottom: 40px;}
.each_section ul li {font-size: 20px;}

#quotes {margin-top: 40px;}

.notification {
	margin: 10px; 
	padding: 10px; 
	background: yellow; 
	border: 1px solid #eee; 
	font-size: 20px; 
	margin: 0 auto; 
	width: 850px; 
	clear: both;
	margin-bottom: 20px; 
	text-align: center;
	overflow: hidden;
	padding-bottom: 20px;
}

#inner_wrap {
	overflow:hidden;
	text-align:left;
	width: 900px; 
	margin:0 auto;
	padding: 20px;
}

#explanation {
	float:left;width:540px; margin-right: 20px;
}

#explanation p {
	font-size:20px;
	line-height: 150%;
	color: #fff;
	margin-bottom: 10px;
}

#post {
	float: left;
	padding: 10px;
	width:318px;
	height: 280px;
	background: white;
	border: 1px solid #ccc;
	border-radius: 6px;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
	color: #555;
	font-size: 14px;
	overflow-y:scroll;
}


.notification a.btn {
	display:inline-block;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
	width: 80px;
	text-align: center;
	margin-top: -4px;
}

.share-type {display: block; width: 100%; text-align: left; margin-left: 20px;}
.share-type input, .share-type textarea {border: 1px solid #666; padding: 7px; margin-right: 10px; width: 680px; height: 13px; font-size: 12px; float: left;}
.share-type p {margin-top: 20px; font-size: 14px; margin-bottom: 5px;}

#shareitup {
	position: absolute;
	position: fixed;
	left: 10px;
	top: 10px;
	width: 80px;
	height: 400px;
	z-index: 9999;
}
#shareitup .fb-like {height: 100px;}
#shareitup .twitter-share-button {margin-top: 20px;}
#top-priority a.btn {color: #fff; text-decoration: none; display: block; text-align: center; padding-top: 9px; margin: 0 auto; cursor: pointer;}
.screenies {text-align: center; overflow: auto; display: block; width: 100%; margin-top: 20px; margin-bottom: 10px;}
.screenies img {margin-right: 10px; border: 1px solid #666;}
.censor-explain {margin-top: 20px; margin-bottom: 20px; border-top: 1px solid #eee; border-bottom: 1px solid #eee; padding-top: 20px; padding-bottom: 20px;}
.censor-explain img {display: inline; width: 450px;}
a.embed {float: right; width: 120px; margin-right: 20px;}

.take-action {
	/* Get rid of this margin when we introduce the checkmarks */
	margin-left: 215px;
	width: 784px;
    margin: 0 auto;
}

.take-action .wrap {
	width: 900px;

}
.take-action h1 {
font-family: "BebasNeueRegular", "Helvetica", "Arial", sans-serif;
font-size: 58px;
margin-bottom: -10;
padding: 0;	
margin-top: 20px;
}

.take-action h2 {
color: #fff;
font-size: 25px;
font-weight: normal;
margin-bottom: 3px;
}

.step {
	margin-left: 0px;
	width:784px;
	margin-top: 20px;
	margin-bottom: 40px;
}
.step a.btn {padding-top: 9px;}
.step a.btn, .step button {
	display: block;

	text-decoration: none;
	margin: 0 auto;
	margin-top: 10px;
}

.step .top {
	height: 112px;
	background: url(/images/ac2-take-action-box-top.png) no-repeat;
}

.step .top h2 {
	font-family: "BebasNeueRegular", "Helvetica", "Arial", sans-serif;
	font-size: 50px;
	padding-top: 30px;
	text-align: center;

}

.step .middle {
	background: url(/images/ac2-take-action-box-middle.png) repeat-y;
	min-height: 100px;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 30px;
	overflow: auto;
}

.step .middle textarea {font-size: 14px; width: 600px; height: 100px;}
.step .middle input.default-text {width: 700px; font-size: 20px; margin-bottom: 10px;}
.step .middle p {
	font-size: 22px;
	line-height: 1.5;
	color: #fff;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
}

.step .middle#logo-censor {text-align: center;}

.step .middle .lefty {
	float: left; 
	width: 330px;
}
.step .middle .righty {
	float: right;
	width: 330px;
	margin-right: 30px;
	margin-bottom: 20px;
}

.step .middle .righty textarea {
	width: 330px;
	height: 190px;
}

#write-congress input {width: 320px;}

#write-congress button {clear: both; margin: 0 auto;}

.step .middle .small {color: #fff; text-align: center; margin-top: 30px;}

.step .bottom {
	height: 43px;
	background: url(/images/ac2-take-action-box-bottom.png) repeat-y;
}

.thankss {
	width: 100%;
	background: yellow;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 16px;
	display: none;
	color: #000;
	text-align: center;
	overflow: auto;

}

.thankss p {float: left; padding-top: 8px;}

.thankss img {display: inline; float: right; margin-right: 20px;}

.thankss .wrap {margin: 0 auto; width: 900px; overflow: auto;}

h1#logo a {
	display: block;
	text-indent: -9999px;
	background: url(/images/h1_logo.png) no-repeat;
	width: 553px;
	height: 181px;
	margin: 0 auto;
}

h1#not-logo a {
	color: red;
	text-decoration: none;
}

p.not-on-internal {
font-size: 12px;
}
