      



  <div id="top-priority" class="primary-actions">
	    <div class="wrap">
          <h2>TOP PRIORITY: CALL CONGRESS</h2>
          <p>Congress needs to hear from all of us or this bill will pass</p>
			
			<form action="http://centerforrights.mcommons.com/profiles/join" method="POST" id="callin">
				<input type="hidden" name="opt_in_path[]" value="90341" />
				<input type="hidden" name="redirect_to" value="http://americancensorship.org/callwidget/thanks" />
				<input type="hidden" name="mconnect" value="14241" />
				<input type="text" name="person[phone]" value="Phone Number" title="Your Phone Number"/>

				<input type="text" name="person[postal_code]" value="Zip Code" title="Your Zip Code" />

				<input type="text" name="person[email]" value="Email" title="Your Email" />
            <button type="submit" class="submit bebas"><img src="/images/ac2-telephone.png" alt="telephone" width="37" height="53" /> <span>Call Congress</span></button>
          </form>
          <p class="small">You will receive a call from us, a short message with talking points and instructions, and then we'll connect you.</p>
          </div>
        </div>
      </div>


