        <div id="top-priority" class="primary-actions">
	    <div class="wrap">
          <h2>Sign up to make calls next week</h2>
          <p>Phones in Congress need to be ringing off the hook next week, or SOPA will pass.<br />
			(We need your address to find your representatives)</p>
          <form action="http://act.fightforthefuture.org/page/s/signup-to-make-calls-next-week" method="POST">
            <input class="default-text" type="text" name="email" title="Email" required="required" />                
            <button type="submit" class="submit bebas"><img src="/images/ac2-telephone.png" alt="telephone" width="37" height="53" /> <span>Call Congress</span></button>
          </form>
          <p class="small">You will receive a call from us, a short message with talking points and instructions, and then we'll connect you.</p>
          </div>
        </div>
      </div>

        <div class="primary-actions" id="censor">
	    <div class="wrap">
			<h2>Censor your posts in protest</h2>
	          <p>Enter your text here, and we'll give you back a censored version to post to<br /> 
		your site, with a link to share with your users.</p>
			<%= form_for @post do |f| %>
		    <%= f.text_area :post, :placeholder => 'The post you want censored' %>
		    <%= f.text_field :name, :placeholder => 'Your Name' %>
		    <%= f.text_field :email, :placeholder => 'Your Email' %>
		            <button type="submit" class="submit bebas"><img src="/images/ac2-checkmark.png" alt="telephone" width="37" height="53" /> <span>OKAY, I DID IT</span></button>
		  <% end %>
		
		  <p class="small">Fight for the Future may contact you about related campaigns. We will not share your email with anyone.</p>
        
		  
        </div>
      </div>



	<div class="maincontentarea">
		<div class="maincontent">
	    <div class="center" id="infographic">
	    <!-- <img alt="Numbers and Screenshots Infographic" src="infographic2.jpg" />-->
	       <h2 class="redheader">Learn more about the Internet Censorship Bills (SOPA/PIPA)</h2>
	    </div>
			<div class="contentleft">
	      <ol>
	        <li>
	          <p class="point">Watch and then share this video</p>
	          <div class="videoholder">
				      <iframe src="http://player.vimeo.com/video/31100268?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0&amp;loop=1" width="450" height="250" frameborder="0" webkitallowfullscreen="" allowfullscreen=""></iframe>
				      <h3 style="margin-bottom: 10px; margin-top: 20px;">
	              <a href="http://fightforthefuture.org/pipa/embed.html" target="_new">Embed this video</a></h3>
	        <h3><a
	                href="https://s3.amazonaws.com/fftf-actionkit/Protect_IP_Act_Breaks_the_Internet.webm"
	                title="Download in the WebM format.">Download in the WebM format</a></h3>
	          </li>
	          </li>
	          <li><p class="point">Learn about the protests against SOPA</p></li>
	           <ul id="article-list">
	            <li><a href="">Infographic: the American Censorship Day protests, in numbers and screenshots</a></li>
	            <li><a href="">Full list of Participating Sites</a></li>
	          </ul>
	          </li>

	          <li>
	            <p class="point">Read what the experts have to say in the quotes below</p>
	          </li>
	        <li>
	          <p class="point">Read these articles</p>
	          <ul id="article-list">
	            <li><a href="http://arstechnica.com/tech-policy/news/2011/10/house-takes-senates-bad-internet-censorship-bill-makes-it-worse.ars">House takes Senate's bad Internet censorship bill, tries making it worse</a></li>
	            <li><a href="http://www.feld.com/wp/archives/2011/10/protect-the-internet.html">Protect The Internet</a></li>
	            <li><a href="https://www.eff.org/deeplinks/2011/10/sopa-hollywood-finally-gets-chance-break-internet">SOPA: Hollywood Finally Gets A Chance to Break the Internet</a></li>
	            <li><a href="http://www.opencongress.org/bill/112-h3261/show">SOPA on OpenCongress</a></li>
	            <li><a href="http://www.opencongress.org/bill/112-s968/show">PIPA on OpenCongress</a></li>
	          </ul>
	        </li>
	        <li>
	          <p class="point">Check out the Infographic:</p>
	          <a href="/infographic.html" title="SOPA Infographic">
	            <img src="/images/SOPAinfographic-thumbnail.png" />
	          </a>
	        </li>
				</div>
	      <div class="contentright">
	        <h4>PARTICIPATING SITES</h4>

	  	  <div class="sitelist">
	          <div class="sitelistleft">
				<a href="#"><img src="images/rss.png" alt="" /></a>
			  </div>
	          <div class="sitelistright">
	            <p><a href="http://reddit.com/">Reddit</a></p>
	          </div>
	        </div>

	<div class="sitelist">
	          <div class="sitelistleft">
				<a href="#"><img src="images/rss.png" alt="" /></a>
			  </div>
	          <div class="sitelistright">
	            <p><a href="http://metafilter.org/">MetaFilter</a></p>
	          </div>
	        </div>

	<div class="sitelist">
	          <div class="sitelistleft">
				<a href="#"><img src="images/rss.png" alt="" /></a>
			  </div>
	          <div class="sitelistright">
	            <p><a href="http://4chan.org/">4chan</a></p>
	          </div>
	        </div>

	<div class="sitelist">
	          <div class="sitelistleft">
				<a href="#"><img src="images/rss.png" alt="" /></a>
			  </div>
	          <div class="sitelistright">
	            <p><a href="http://mozilla.org/">Mozilla</a></p>
	          </div>
	        </div>


	        <div class="sitelist">
	          <div class="sitelistleft">
				<a href="http://www.facebook.com/pages/Public-Knowledge/81651801599"><img src="images/facebook.png" alt="" /></a>
			  </div>
	          <div class="sitelistright">
	            <p><a href="http://www.publicknowledge.org/">Public Knowledge</a></p>
	          </div>
	        </div>
	        <div class="sitelist">
	          <div class="sitelistleft">
				<a href="https://www.facebook.com/l.php?u=https%3A%2F%2Feff.org%2Fr.1EJ&h=_AQEvvaIV&ref=ts"><img src="images/facebook.png" alt="" /></a>
			  </div>
	          <div class="sitelistright">
	            <p><a href="https://www.eff.org/">Electronic Frontier Foundation</a></p>
	          </div>
	        </div>
	        <div class="sitelist">
	          <div class="sitelistleft">
				<a href="https://identi.ca/fsf"><img width="15px" src="images/small_identica.png" alt="" /></a>
			  </div>
	          <div class="sitelistright">
	            <p><a href="http://identi.ca/fsf">Free Software Foundation</a></p>
	          </div>
	        </div>
	        <div class="sitelist">
	          <div class="sitelistleft">
				<a href="https://www.facebook.com/freepress"><img src="images/facebook.png" alt="" /></a>
			  </div>
	          <div class="sitelistright">
	            <p><a href="http://www.freepress.net">Free Press</a></p>
	          </div>

	        <div class="sitelist">
	          <div class="sitelistleft">
				<a href="https://www.facebook.com/freepress"><img src="images/facebook.png" alt="" /></a>
			  </div>
	          <div class="sitelistright">
	            <p><a href="http://wikimediafoundation.org/">Wikimedia Foundation</a></p>
	          </div>

	        </div>
	        <div class="sitelist">
	          <div class="sitelistleft">
				<a href="https://www.facebook.com/OpenCongress"><img src="images/facebook.png" alt="" /></a>
			  </div>
	          <div class="sitelistright">
	            <p><a href="http://www.opencongress.org/">PPF (Open Congress)</a></p>
	          </div>
	        </div>

	               <div class="sitelist">
	          <div class="sitelistleft">
				<a href="https://torrentfreak.com/subscriptions/"><img src="images/rss.png" alt="" /></a>
			  </div>
	          <div class="sitelistright">
	            <p><a href="http://www.torrentfreak.com/">Torrentfreak</a></p>
	          </div>   

	                <div class="sitelist">
	          <div class="sitelistleft">
				<a href="http://boingboing.net/subscribe"><img src="images/rss.png" alt="" /></a>
			  </div>
	          <div class="sitelistright">
	            <p><a href="http://boingboing.net/subscribe">Boing Boing</a></p>
	          </div>
	        </div>
	        <div class="sitelist">
	          <div class="sitelistleft">
				<a href="https://www.facebook.com/creativecommons"><img src="images/facebook.png" alt="" /></a>
			  </div>
	          <div class="sitelistright">
	            <p><a href="http://creativecommons.org/">Creative Commons</a></p>
	          </div>
	        </div>
	        <div class="sitelist">
	          <div class="sitelistleft">
				<a href="http://twitter.com/grooveshark"><img src="images/twitter.png" alt="" /></a>
			  </div>
	          <div class="sitelistright">
	            <p><a href="http://grooveshark.com/">Grooveshark</a></p>
	          </div>
	        </div>
	         <div class="sitelist">
	          <div class="sitelistleft">
				<a href="https://www.facebook.com/demandprogress"><img src="images/facebook.png" alt="" /></a>
			  </div>
	          <div class="sitelistright">
	            <p><a href="http://demandprogress.org/">Demand Progress</a></p>
	          </div>
	        </div>
	        <div class="sitelist">
	          <div class="sitelistleft">
				<a href="#"><img src="images/rss.png" alt="" /></a>
			  </div>
	          <div class="sitelistright">
	            <p><a href="http://hypem.com/">Hype Machine</a></p>
	          </div>
	        </div>
	        <div class="sitelist">
	          <div class="sitelistleft">
				<a href="http://www.facebook.com/techdirt"><img src="images/facebook.png" alt="" /></a>
			  </div>
	          <div class="sitelistright">
	            <p><a href="http://www.techdirt.com/">Techdirt</a></p>
	          </div>
	        </div>
	        <div class="sitelist">
	          <div class="sitelistleft">
			  <a href="http://www.facebook.com/pages/Irregular-Times/101815489885133"><img src="images/facebook.png" alt="" /></a>
			  </div>
	          <div class="sitelistright">
	            <p><a href="http://irregulartimes.com/">Irregular Times</a></p>
	          </div>
	        </div>
	        <div class="sitelist">
	          <div class="sitelistleft">
				<a href="#"><img src="images/facebook.png" alt="" /></a>
			  </div>
	          <div class="sitelistright">
	            <p><a href="http://engineadvocacy.org/">Engine Advocacy</a></p>
	          </div>
	        </div>
	        <div class="sitelist">
	          <div class="sitelistleft">
				<a href="https://www.facebook.com/pages/Center-for-Democracy-and-Technology/107926642560924"><img src="images/facebook.png" alt="" /></a>
			  </div>
	          <div class="sitelistright">
	            <p><a href="http://www.cdt.org/">Center for Democracy and Technology</a></p>
	          </div>
	        </div>
	         <div class="sitelist">
	          <div class="sitelistleft">
				<a href="https://www.facebook.com/pages/Fight-For-The-Future/283481148338685"><img src="images/facebook.png" alt="" /></a>
			  </div>
	          <div class="sitelistright">
	            <p><a href="http://fightforthefuture.org/">Fight for the Future</a></p>
	          </div>
	        </div>
	  	<div class="sitelist">
	          <div class="sitelistleft"></div>
	          <div class="sitelistright">
	            <p><a href="/supporters.html" style="text-decoration: underline;">And 6,000 more. See all of ACD in numbers.</a></p>
	          </div>
	        </div>
	      </div>
			</div>
		</div>
	  <br style="clear:both;"/>
	  <div class="center">
	  </div>
	</div>
	<div class="testimonialarea" id="testimonials">
		<div class="testimonialwrap">
	    <div class="center">
				<h4>Reactions to these bills, <a
	      href="http://www.opencongress.org/bill/112-h3261/show"
	      title="S.968 on OpenCongress">"SOPA" H.R.3261</a> and <a href="http://www.opencongress.org/bill/112-s968/show" title="S.978 on OpenCongress">PIPA S. 978</a></h4>
	      <p>See how the internet fought back: <a href="/infographic2.html">American Censorship Day in Numbers.</a></p>
	    </div>
			<div class="testimonialleft">
				<div class="testimoniallist">
					<div class="testimoniallistleft"><img src="images/rebecca-mackinnon.png" alt="" /></div>
					<div class="testimoniallistright">
						<p>"The potential for abuse of power through digital networks &ndash; upon which we as citizens now depend for nearly everything, including our politics &ndash; is one of the most insidious threats to democracy in the Internet age&ellipsis; This is no time for politicians and industry lobbyists in Washington to be devising new Internet censorship mechanisms, adding new opportunities for abuse of corporate and government power over online speech."</p>
						<span>- <a href="http://www.nytimes.com/2011/11/16/opinion/firewall-law-could-infringe-on-free-speech.html">Rebecca MacKinnon (New York Times)</a></span>
					</div>
					</div>
					<div class="testimoniallist">
					<div class="testimoniallistleft"><img src="images/fred-wilson.png" alt="" /></div>
					<div class="testimoniallistright">
						<p>"These bills were written by the content industry without any input from the technology industry. And they are trying to fast track them through congress and into law without any negotiation with the technology industry."</p>
						<span>- <a href="http://www.avc.com/a_vc/2011/10/protecting-the-safe-harbors-of-the-dmca-and-protecting-jobs.html">Fred Wilson (Union Square Ventures)</a></span>
					</div>
				</div>
				<div class="testimoniallist">
					<div class="testimoniallistleft"><img src="images/larry-downes.png" alt="" /></div>
					<div class="testimoniallistright">
						<p>"SOPA, regrettably, represents a big step backward in Washington's efforts to support the digital revolution, one of the only sectors of the economy that continues to grow."</p>
						<span>- <a href="http://techfreedom.org/blog/2011/10/28/larry-downes-statement-stop-online-piracy-act-sopa">Larry Downes (TechFreedom)</a></span>
					</div>
				</div>
			</div>
			<div class="testimonialright">
				<div class="testimoniallist">
					<div class="testimoniallistleft"><img src="images/james-allworth.png" alt="" /></div>
					<div class="testimoniallistright">
						<p>"It contains provisions that will chill innovation. It contains provisions that will tinker with the fundamental fabric of the internet. It gives private corporations the power to censor. And best of all, it bypasses due legal process to do much of it."</p>
						<span>- <a href="http://blogs.hbr.org/cs/2011/10/e-parasite_threatens_internet.html">James Allworth (Harvard Business School)</a></span>
					</div>
				</div>
				<div class="testimoniallist">
					<div class="testimoniallistleft"><img src="images/mike-masnick.png" alt="" /></div>
					<div class="testimoniallistright">
						<p>"The main "enforcement" mechanism in these bills is to put liability on third party service providers coming from the tech industry, undermining the safe harbors of the DMCA and the legal framework that has allowed tons of important internet platforms to evolve."</p>
						<span>- <a href="http://www.techdirt.com/articles/20111108/00553216676/why-protect-ipsopa-is-exact-wrong-approach-to-dealing-with-infringement-online.shtml">Mike Masnick (TechDirt)</a></span>
					</div>
				</div>
				<div class="testimoniallist">
					<div class="testimoniallistleft"><img src="images/gigi-sohn.png"/></div>
					<div class="testimoniallistright">
						<p>"[SOPA would] overturn the long-accepted principles and practices [of the DMCA] in favor of a one-sided enforcement mechanism that is far more broad than existing law while not attempting to protect the rights of anyone accused of copyright infringement."</p>
						<span>- <a href="http://www.pcmag.com/article2/0,2817,2395653,00.asp#fbid=KVUBiUbrIV_">Gigi B. Sohn (President of Public Knowledge)</a></span>
					</div>
				</div>
			</div>
			<div class="testimoniallist" style="clear: both; margin: 0 auto 0 auto; width: 480px;">

				<div class="testimoniallistright" style="width: 480px;">
					<p>"This is a move that threatens, rather than protects, property rights, and also threatens America's Internet and tech leadership."</p>
					<span>- <a href="http://www.redstate.com/neil_stevens/2011/10/31/tech-at-night-usf-reform-reactions-we-must-stop-sopa-and-protect-ip-censorship/">Neil Stevens (RedState.com)</a></span>
				</div>
			</div>
		</div>
	</div>
