<%= content_for(:head) do %>
  <script type="text/javascript">
    $(document).ready(function() {
      // Detect non-US users and ask them to petition the state department instead.
      $.get('http://api.hostip.info/country.php', function(response) {
        if(response !== 'US') {
          $("#top-action").attr("src", "/modal/state-dept-petition/index.html");
        }
      });
    });
  </script>
<% end %>

<a name="call"></a>
<iframe id="top-action" src="/ac2/frames/call-form.html" style="width: 100%; height: 636px; border: none; display: block; position: relative;" scrolling="no" ></iframe>
