/* CSS Document */

body{
	font-family:Helvetica, sans-serif;
	font-size:12px;
	color:#363636;
	text-align:left;
	background:#fff;
}
*{
	margin:0;
	padding:0;
}
ul, li, ol{
	padding:0;
	margin:0;
	list-style:none;
}
img{
	border:none;
	padding:0;
	margin:0;
}
.cls{
	clear:both;
}
a{
	outline:none;
	color:#1e7ad8;
	text-decoration:underline;
}
a:hover{
	color:#1e7ad8;
	text-decoration:none;
}
.hide,h1 b,h2 b,h3 b,h5 b,a i{
     position: absolute;
     left: -9999px;
}


/* for modal page 02 */



.popupbox{
	width:900px;
	padding:0 0 0 0;
}
.popupheader{
	width:861px;
	height:43px;
	background:url(images-bb/modattopbg.png) no-repeat -19px -17px;
	position:relative;
	overflow:hidden;
	padding:36px 0 0 0;
	text-align:center;
	color:#fff;
}
.close{
	position:absolute;
	right:25px;
	top:17px;
}
.popupboxinfo{
	width:800px;
	padding:20px 20px 15px 41px;
	background:url(images-bb/modalboxbg.png) repeat-y -19px 0;
	overflow:hidden;
}
.topinfo{
	width:820px;
	padding:0 0 20px 0;
	overflow:hidden;
}
.topinfoleft{
	width:200px;
	float:left;
}
.topinforight{
	width:565px;
	float:left;
}
.topinforight p{
	font-size:20px;
	color:#363636;
	line-height:30px;
}
.formarea{
	width:758px;
	height:150px;
	padding:24px 0 0 42px;
	color:#fff;
	overflow:hidden;
	background:url(images-bb/blueboxbg.png) no-repeat left top;
}
.formarea p{
	font-size:20px;
	color:#fff;
	padding:0 0 0 45px;
}
.emailform{
	width:758px;
	padding:20px 0 0 0;
	overflow:hidden;
}
.emailform input{
	width:271px;
	height:23px;
	float:left;
	color:#a1a1a1;
	border:none;
	font-size:20px;
	padding:10px 0 10px 10px;
	background:url(images-bb/inputbg.png) no-repeat;
}
.emailform input.zip{
	width:111px;
	background:url(images-bb/zipinputbg.png) no-repeat;
	margin:0 0 0 7px;
}
.emailform input.congress{
	width:171px;
	height:42px;
	padding:0;
	cursor:pointer;
	background:none;
	margin:1px 0 0 9px;
}
.learnmore{
	width:124px;
	float:right;
	padding:6px 0 0 0;
}
.bottominfo{
	width:780px;
	padding:25px 0 0 0;
	text-align:center;
	overflow:hidden;
}
.bottominfo p{
	font-size:14px;
	padding:0 0 10px 0;
}
.bottominfo p a{
	color:#0586cc;
}











.popupbottom{
	width:861px;
	height:5px;
	background:url(images-bb/modalboxbottom.png) no-repeat -19px 0;
}




