/* form { */
/*    font-size: 14px; */
/*    font-family: 'Trebuchet MS', Myriad, Arial; */
/* } */
/* label { */
/*    display: block; */
/*    margin-bottom:5px; */
/* } */
/* input, select, textarea { */
/*    margin-bottom: 10px; */
/*    border: 1px solid #333; */
/*    padding: 5px; */
/*    border-radius: 3px;   */
/* } */

html, body {
   padding: 0;
   margin: 0;
}
/* Overall structure. */
#modal {
   width: 862px;
   height: 527px;
   overflow: hidden;
   font-family: "Helvetica", "Arial", sans-serif;
}
/* 862px - image width */
#modal-top {
   background-image: url('/modal/images/modaltopbg-noshadow.png');
   background-repeat: no-repeat;
   height: 160px;
   margin:0;
   padding:0;
}
#modal-middle {
   background-image: url('/modal/images/modalboxbg-noshadow.png');
   background-repeat: repeat-y;
   height: 350px;
   padding:0;
   margin:0;
   color: #444;
}

/* Header styling. */
#modal-top div {
   display: inline;
}
.title-text {
   margin-top: 25px;
   margin-left: 55px;
}
.logo-left {
   float: left;
   margin-left: 30px;
   margin-top: 15px;
}
.logo-right {
   float: right;
   margin-top: 15px;
   margin-right: 30px;
}
#initial-form {
   padding-top: 10px;
   display: block;
   text-align: center;
   margin:0;
}
#initial-form p.top {
   font-size: 18px;
   font-weight: bold;
   color: #444;
   margin: 10px;
}
#initial-form .blue {
   background-image: url('/modal/images/blueboxbg.png');
   background-repeat: no-repeat;
   width: 669px;
   height: 180px;
   color: #eee;
   margin: 0;
   margin-left: 72px;
   padding: 15px;
}
.blue h2 {
   margin: 10px;
}
.blue p {
   font-size: 18px;
   font-weight: 300;
}
.strong, .quiet {
   font-size: 14px;
}
p.strong {
   font-weight: bold;
}
#secondary-form {
   display: none;
}
