<div class="primary-actions" id="general">
<div class="wrap">
	<h2>Share this post with your friends:</h2>

	<textarea>
	  <%= @post.censored_post %>  <%= uncensor_post_url(@post) %>
	</textarea>
</div>
</div>