<div class="primary-actions" id="general">
<div class="wrap">
	<h2>Write Congress! And we'll decode your form!</h2>

	<% if @post.present? %>
	  <%= link_to uncensor_post_path(@post) %>
	<% end %>
</div>
</div>