<style>
.not-on-internal {display: none;}
</style>

<div id="inner_wrap">

	<div id="explanation">

		<p>Thanks for writing Congress. Here’s the post.</p>
		<p>Now, can you tell 20 friends to write Congress too? These bills could pass in a matter of days.</p>
		<p>Thanks,<br>
			<%= @post.name %>
		</p>
		
	</div>
	<div id="post">
		<%= @post.post %>
	</div>			
	
</div>