<style>
.not-on-internal {display: none;}
</style>

<div id="inner_wrap">

	<div id="explanation">
		<p>Thanks so much for contacting Congress.  This week is do or die: If the bill passes through committee it'll probably go on to become law -- but if we beat it back at this stage, it'll probably never recover.</p>
		<p>The ONLY way we can make that happen is by overwhelming Congress with emails and phone calls.  Please enlist your friends to join the fight to save the Internet:  Use these tools to share with your social networks.</p>
		<p>Thanks -- <%= @post.name %></p>
		
	</div>
	<div id="post">
		<%= @post.post %>
	</div>

</div>

<div style="text-align:center; margin-bottom:20px">			
	<button onclick="window.location.hash='censor'">Censor your own post!</button>
</div>