<style>
.not-on-internal {display: none;}
</style>

<div id="inner_wrap">
	
	<div id="explanation" >
	
		<p>I'm censoring my posts in <strong>protest</strong> of two bills that would censor the web. SOPA and the PROTECT IP act would
			give governments and corporations the power to take down entire websites over infringing posts by users, endangering the internet
			as we know it.
		</p>

		<p>To uncensor this post and ensure that internet censorship never becomes law in America contact Congress now. After you do, 
			you’ll see my uncensored post on the next page. Thanks for doing this.
		</p>

		<p style="text-align:right; margin-right: 60px">&mdash; <%= @post.name %></p>

	</div>
	
	<div id="post">
		<%= @post.censored_post %>
	</div>

</div>

<div style="text-align:center; margin-bottom:20px">			
	<button onclick="window.location.hash='uncensor'">Uncensor this post!</button>
</div>

<br><br>

<div class="primary-actions" id="general">
	<%= render :partial => 'congress_emails/form' %>
	<p class="small">Fight for the Future and Demand Progress may contact you about related campaigns. We will not share your email with anyone. <a href="http://fightforthefuture.org/privacy" title="Privacy Policy.">Privacy Policy</a>
    
</div>
